*~
*.d
*.so
*.pcm
*.pdf
*.log
.projectile
.ccls-cache
__pycache__/
doxygen/
TAGS
outputs/
ShapeFit/Inputs/
ShapeFit/Spectra/
ShapeFit/Flux/
ShapeFit/PredictedIBD/
ShapeFit/covariance_matrices/
ShapeFit/fit_result_files/
ShapeFit/final_covmatrix_*.txt
ReactorPowerCalculator/isotope_spectra*/reactor_P17B_*.txt
toySpectra/data_file/dyb_data_v1_*.txt
!dyb_data_v1_nominal.txt
matrix_evis_to_enu_*.txt
analysis/bak/
analysis/pics/
analysis/*.pdf
analysis/*.root
input/
output/
