*~
*.d
*.so
*.pdf
.projectile
doxygen/
TAGS
outputs/
ShapeFit/Distances/
ShapeFit/Inputs/
ShapeFit/Spectra
reactor_covmatrix/p17b_unblinded
ReactorPowerCalculator/isotope_spectra*/reactor_P17B_*.txt
toySpectra/data_file/dyb_data_v1_*.txt
!dyb_data_v1_nominal.txt
!dyb_data_v1_nominal_noosc.txt